.btn {
	background-image: none !important;
}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	min-width: 600px;
	font-size: 12px;
	color: #4E5665;
	background-color: #E9EAED;
	/*background-image: url('../img/misty-boat.jpg');*/
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}

#overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	/*background-color: rgba(120,120,120,0.65);*/
}

a:active, a:hover, a:link, a:visited {
	text-decoration: none;
	color: #365899;
}

.btn-link {
	color: #365899;
	text-decoration: none;
}

.container-fluid {
	/*max-width: 1600px;*/
	padding: 0px;
	position: relative;
	height: 100vh;
}

.focused {
    background: #FAF9EB;
  }

.btn {
	font-weight: bold;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.btn-default {
	color: rgb(75, 79, 86);
	background-color: rgb(246, 247, 249);
	border-color: #ced0d4;
}

.btn-success {
	background-color: #42B72A;
	border-color: #42B72A;
}

#footer-note {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 36px;
	width: 100%;
	background-color: #E44BE1;
	color: #fff;
	padding: 8px;
	font-weight: bold;
	box-shadow: 0px -2px 4px 2px rgba(35,35,35,0.25);
	-webkit-box-shadow: 0px -2px 4px 2px rgba(35,35,35,0.25);
	font-size: 14px;
	z-index:1000;

}
	

/* HEADER */
#header {
	height: 42px;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: hidden;
	z-index: 1000;
	padding: 6px 15px 0px 15px;
	background-image: url('../img/header-bg.png');
	background-repeat: repeat-x;
    background-size: auto;
    background-position: 0 0;
    background-color: #3a5795;
    border: 0;
    border-bottom: 1px solid #133783;
    box-shadow: none;
}

.notify {
	float: right;
}

#header .header-link {
	font-size: 18px;
	margin: 10px 12px 0px 0px;
}

#header a:first-child:active, #header a:first-child:hover, #header a:first-child:link, #header a:first-child:visited {
	color: #fff;
	font-weight: bold;
}

#header a:active, #header a:hover, #header a:link, #header a:visited {
	color: #CCCFD8;
}

#header-search {
	width: 240px;
	background-color: #2A4172;
	border: 1px solid #213561;
	border-radius: 2px;
	color: #7787A9;
	display: inline-block;
	padding: 2px 8px;
	margin-right: 12px;
}


#bluebar-right img, #bluebar-left img {
	height: 26px;

}

#bluebar-right {
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
}

#bluebar-left {
	display: inline-block;
	font-size: 18px;
    margin: 2px 12px 0px 0px;
}

#view-title {
	width: 100%;
	position: fixed;
	top: 42px;
	left: 0px;
	height: 40px;
	background-color: #F5F6F7;
	box-shadow: 0px 1px 1px 2px rgba(35,35,35,0.10);
	-webkit-box-shadow: 0px 1px 1px 2px rgba(35,35,35,0.10);
	padding: 12px;
	z-index: 500;
}

.tabs {
	width: 100%;
	border-bottom: #DCE1E9 solid 1px;
}

#taskSearch {
	width: 98%;
	min-width: 400px;
	border: none;
	font-weight: normal;
}

.form-inline {
	width: 80%;
}

.form-control {
	display: inline-block;
}

.form-group {
	width: 100%;
}

#settings {
	position: absolute;
	top: 16px;
	right: 20px;
}

#settings img {
	height: 18px;
	width: 18px;
}

/* SEARCH */
#search {
	background-color: #f6f7f9;
	position: fixed;
	top: 42px;
	left: 0px;
    width: 100vw;
    box-shadow: 0px 1px 1px 0px rgba(28,28,28,0.10);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(28,28,28,0.10);
    z-index: 500;

 }

 #search .form-inline {
 	margin: 8px auto;
 	min-width: 480px;
	max-width: 840px;
 }

.main-dashboard-sidebar #search {
	left: 200px;
	width: calc(100vw - 200px);
}

.token-bar {
	padding: 0 6px;
}

.token-bar button {
	font-weight: normal;
}

.token-bar-right {
	float: right;
	margin-right: 18px;
	margin-bottom: 6px;
}

.token-bar-left {
	display: inline-block;
	margin-bottom: 6px;
}

.btn-search-box {
	background-color: #fff;
	padding: 0 8px 0 0;
	width: 90%;
}


li.section, .filters-label {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	color: #90949c;
	padding-left: 8px;
}


/* CARDS */

#list-cards {
	background-color: #f6f7f9;
	border-radius: 2px;
	margin: 112px auto 60px;
	padding: 12px;
	min-width:480px;
	max-width: 840px;
	box-shadow: 0px 1px 1px 0px rgba(28,28,28,0.10);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(28,28,28,0.10);
}

#list-cards.search {
	margin: 140px auto 60px;
}

.card {
	background-color: #fff;
	font-size: 12px;
	padding: 6px;
	position: relative;
	width: 100%;
	margin: 0 0 -1px 0;
	border: 1px solid #dddfe2; /* fig-desktop-border */
	border-radius: 2px;
	cursor: pointer;
}

.card:hover {
	background-color: rgba(29, 33, 41, .04);
}

.card-group {
	margin-bottom: 12px;
}

.card-group h4 {
	font-weight: bold;
	margin-top: 0px;
	font-size: 14px;
}

.card-group .count {
	color: #bec2c9;
}

.card img {
	width: 40px;
	border-radius: 0px;

}

.card .left, .card .right {
	display: inline-block;
}

.card .left {
	width: 44px;
}

.card .right {
	vertical-align: top;
	width: calc(100% - 186px);
}

.card .right .meta {
	position: absolute;
	top: 4px;
	right: 10px;
} 

.card .right .actions {
	position: absolute;
	top: 24px;
	right: 10px;
} 

.full-width {

}

.full-button {

}

.see-all {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

.reviewer {
	color: #365899;
}

/* Diffs */
.diff-id {
	font-weight: bold;
}

.status-tag {
	display: inline-block;
	background-color: #edf2fa;
	border-radius: 3px;
	border: 1px solid #e9ebee;
	padding: 2px 4px;
	color: #4b4f56;
	font-weight: bold;
	font-size: 11px;
	margin: 0 2px;
}

.status-circle {
	font-size: 15px;
	line-height: 14px;
}

.status-green {
	color: #42b72a;
}
.status-orange {
	color: #e67e22;;
}
.status-grey {
	color: #90949c;
}

.diff-description {
	color: #90949c;
}

.diff-description-secondary {
	/*color: #4b4f56;*/
	color: #90949c;
}

.meta {
	color: #90949c;
}

.author {
	color: #365899;
}

.card-warning-high {
	border-left: 3px solid #fa3e3e;
	padding-left: 3px;
}

.card-warning-medium {
	border-left: 3px solid #ffa933;
	padding-left: 3px;
}

.warning {
	color: #fa3e3e;
	font-weight: bold;
	margin-right: 4px;
	font-size: 11px;
}

.warning-medium {
	color: #ffa933;
	font-weight: bold;
	margin-right: 4px;
	font-size: 11px;
}

.warning img, .warning-medium img {
	height: 14px;
	width: 14px;
	margin-bottom: 2px;
	margin-right: 2px;
}

/* TASK TABLE AND DETAIL */
.main-sidebar > .content > #task-table {
	width: 60%;
	display: inline-block;
}

.main-sidebar > .content > #task-detail {
	width: 38%;
	display: inline-block;
	height: 100vh;

}

tr {
	cursor: pointer;
}

.table {
	margin-bottom: 0px;
}

#task-table, #task-inspect {
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 1px 2px rgba(35,35,35,0.10);
}

#task-table {
	background-color: #fff;
	padding: 16px;
	vertical-align: top;
	margin-top: 4px;
}

#task-detail {
	margin-left: 12px;
	margin-top: 4px;
}


/* DETAIL PAGE */
#detail-sidebar{
	position: fixed;
	background-color: #fff;
	top: 40px;
	right: 0px;
	height: 100%;
	border-left: #D6D9E2 solid 1px;
}

/* TASK DETAIL */
.task-title {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin: 8px;
}

/* DETAIL NAV */

#detail-nav {
	background-color: #F5F6F7;	
	height: 42px;
	width: 100%;
	-webkit-box-shadow: 0px 1px 1px 2px rgba(35,35,35,0.10);
	z-index: 1000;
	margin: 10px 0px 1px;
}

#detail-nav .detail-nav-link {
	height: 20px;
	display: inline-block;
	font-size: 14px;
	margin: 12px 4px;
}

#detail-nav .active .detail-nav-link {
	font-weight: bold;
}


#detail-nav .detail-nav-link:first-child, 
#detail-nav .detail-nav-link: {
	font-size: 14px;
	margin: 10px 12px;
}

#detail-nav a:active, #detail-nav a:hover, #detail-nav a:link, #detail-nav a:visited {
	color: #4E5665;
}

.tab {
	display: inline-block;
	height: 42px;
	margin: 0px 12px;
}

#detail-nav .active {
		border-bottom: solid 3px #3F5D9D;
}

.tab-content {
	padding: 16px;
	padding-bottom: 100px !important;
	margin-top: 10px !important;
}

/* GOALS NAV */
.fullscreen, .close-fullscreen  {
	float: right;
	margin-top: -4px;
}

a.fullscreen:hover {
		text-decoration: none;
}

.fullscreen img {
	border: 1px solid #D6D9E2;
	padding: 2px;
	border-radius: 2px;
	height: 24px;
	width: 24px;
}

.close-fullscreen img {
	border: 1px solid #D6D9E2;
	padding: 2px;
	border-radius: 2px;
	height: 24px;
	width: 24px;
}

.close-fullscreen:hover, .fullscreen:hover{
	background-color: #E9EAED;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}




/* Sidebar navigation */
#main-side-nav {
	background-color: #31333F;
	color: #b5bac3;
	width: 200px;
	height: 100vh;
	position: fixed;
	top: 42px;
	left: 0px;
	z-index:800;
}

#main-side-nav a {
	color: #b5bac3;
}

#btn-sidenav-close {
	position: absolute;
	z-index: 1000;
	top: 0px;
	right: 4px;
}

.list-group-item {
	background-color: rgba(0,0,0,0);
	color: #fff;
	border: none;
	padding-left: 22px;
}

.list-group-item.active {
	font-weight: bold;
	color: #fff !important;
}

.panel {
	background-color: rgba(0,0,0,0);
	border: none;
}

.list-group-item.active {
	background-color: #4E5665;
	background-image: none;
	color: #fff;
}

a.list-group-item:focus {
	background-color: #4E5665
}

a.list-group-item:hover {
	background-color: #444B5A;
}


.list-group-item img {
	float: right;
	opacity: 0;
	cursor: pointer;
}

.list-group-item:hover img {
	opacity: 1;
}

#side-nav img {
	cursor: pointer;
}

#side-nav {
	background-color: #31333F;
	color: #b5bac3;
	width: 180px;
	height: 100vh;
	position: absolute;
	top: 40px;
	left: 0px;
}

#side-nav a {
	color: #b5bac3;
}

#side-nav img {
	cursor: pointer;
}

.add-view {
	display: block;
	width: 100%;
	padding: 8px 16px;
}

.add-view:hover {
	background-color: #4e5665;
	position: relative;
}

.view-mouseover:hover .view-mouseover-active {
	opacity: 1.0;
}

.view-mouseover-active {
 	opacity: 0.01;
 	position: absolute;
 	top: 171px;
 	left: 0px;
 	pointer-events: none;
}

#side-filters {
	background-color: #fff;
	width: 280px;
	height: 100%;
	position: fixed;
	z-index: 500;
	top: 40px;
	left: 0px;
	border-right: 1px #D6D9E2 solid;
}

#side-filters .filters {
	padding: 16px;
}



/*GOAL CARDS */
.goal-card {
	max-width: 640px;
	min-width: 320px;
	border: solid #fff 1px;
	padding: 8px;
	margin-bottom: 4px;
}

.main-dashboard .goal-card {
	/*width: 340px;*/
	border: solid #fff 1px;
	padding: 8px;
	display: inline-block;
	margin: 0px 12px 12px 0px;
}

.goal-card:hover {
	
}


.goal-card > .category {
	font-size: 10px;
	font-weight: bold;
	margin-right: 4px;
	color: #AFB4BF;
	display: block;
}


.goal-card > .title {
	font-size: 12px;
	margin-right: 4px;
	display: block;
}

.goal-card > .timeline-link {
	display: block;
	width: 100%;
	background-color: #efefef;
}

.goal-card > .value {
	font-size: 10px;
	text-transform: uppercase;
}

.goal-card > .btns {
	float: right;
}


.timeline-link {
	margin: 4px 0px;
}

.goal-card > .description {
	margin-top: 4px;
}

.goal-card > .author {
	color: #A5AAB5;
}


/*MAIN CONTAINER STATES */
.main {
	margin-left: 180px;
}

.main-detail {
	margin-left: 280px;
}

.main-sidebar > .content {
	width: calc(100% - 315px);
	height: 100vh;
}

.main-dashboard {
	margin-left: 0px;
}

.main-dashboard-sidebar {
	margin-left: 200px;
}

.main-dashboard .content {
	margin: 42px auto;
	min-width: 600px;
	max-width: 1280px;
	height: 100vh;
}

.main-sidebar .content {
	min-width: 850px;
	max-width: 1600px;
}

#btn-main-sidebar {
	margin-right: 8px;
	position: absolute;
	top: 8px;
	left: 8px;
}

.panel-default {
	border-bottom: solid 3px #232937;
	box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.10);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.10);

}

.panel-default > a {
	display: block;
	padding: 10px;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}


.header-link {
	display: inline-block;
	color: #fff;
}

.study-link {
	display: inline-block;
	color: #4E5665;
	height: 42px;
}

.content {
    position: relative;
}



/* TASK DETAIL  */
#task-inspect {
	background-color: #fff;
	top: 82px;
	right: 0px;
	display: inline-block;
	height: 100%;
	border-left: #D6D9E2 solid 1px;
}

#task-inspect #btn-close {
	display: inline-block;
	float: right;
	margin: 12px;
}

.inspect-content {
	max-width: 575px;
	height: 100%;
	overflow-y: scroll;
}






#study-content {
	background-color: #fff;
}

#create-content {

}

#content-sidebar {
	padding-top: 100px !important;
	padding-left: 20px;
	margin-left: 220px;
	background-color: #fff;
}

.container {
	max-width: 1400px;
}


#navigation {
	height: 100%;
	width: 200px;
	background-color: #4E5664;
	position: fixed;
	top: 0px;
	left: 0px;
	padding-top: 50px;
}

.nav-title {
	color: #6E7A8E;
	margin: 12px;
	font-weight: bold;
}

.nav-link {
	display: inline-block;
	padding: 15px;
	color: #3B3F4A;
	font-size: 22px;
}

.nav-link:first-child {
	padding-left: 0px;
}

.nav>li>a {
	color: #BEC7CF;
}

.nav-pills>li>a {
	border-radius: 0px;
	font-size: 16px;
	font-weight: bold;
}

.nav-pills>li.active>a, .nav>li>a:hover, .nav-pills>li.active>a:hover  {
	background-color: #5C6271;
}

.small-pills>li>a {
	font-size: 12px;
	padding: 6px 12px 6px 24px;
}




/* Styling for small desktop or tablet */
@media (max-width: 799px) {
	.main-sidebar > .content {
    	width: 100vw; 
	}

}

/* Styling for medium desktop */
@media (min-width: 800px) and (max-width: 1279px) {
	.main-sidebar > .content {
    	width: 100vw; 
	}
}


/* Styling for large desktop */
@media (min-width: 1600px) {
	#detail-sidebar{
		right: calc((100vw - 1600px)/2);
	}
	#side-filters{
		left: calc((100vw - 1600px)/2);
	}
	.main-detail-sidebar {
		margin-left: 288px;
	}
}

